{
  "presets": ["env","es2015","stage-1","react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ],
  "env": {
    "production": {
      "plugins": [["transform-react-remove-prop-types",
      {
        "removeImport": true,
        "ignoreFilenames": ["node_modules"]
      }]]
    },
    "localdev": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}